@page
@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers
@model UpdateModel
@{
     ViewData["Title"] = "Upload Page";

}

<div class="jumbotron">
    <h1>Update an Existing Template</h1>
    <p class="lead">Select the template you'd like to update. This will automatically archive the current version.</p>

   
</div>

<form method="post" enctype="multipart/form-data">
    <select name="selectedName">
        @foreach (var row in @Model.RequestT)
        {
            <option value="@row.templateName">@row.templateName</option> 
        }
    </select>
    <!-- This is how the buttons reference functions in the backend 
    They use the asp-page-handler to access postFunctions-->
    <!-- This form is used to upload to a local folder--> 
    <input type="file" asp-for="Update"/>
<td>
    <label for="notesIn">Template Notes</label>
    <textarea id="notesIn" placeholder="write your notes here" rows="10" cols="50" asp-for="notes"></textarea>
</td>
    <div align="left"></div>
    <input type="submit" value="Update File" class="btn-sucesss"/>
    <b>@ViewData["Message"]</b>

</form>


<div>
  <!-- Choose file section -->  

</div>